@model NguyenDaiHiep_2180605809_week_three.Models.Product
@{
	ViewData["Title"] = "Display";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
	<h3>Price: @Model.Price</h3>
	<p>@Model.Description</p>
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" alt="Product Image" style="max-width:
200px;" />
	}
</div>
<a asp-action="Index">Back to List</a>
